<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>[%logger{0}] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SERVER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/d2d2-world-arena-server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>log/d2d2-world-arena-server.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.ancevt.d2d2world.server" level="trace" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SERVER_FILE"/>
    </logger>
    
    <logger name="ru.ancevt.d2d2world.net" level="trace" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SERVER_FILE"/>
    </logger>

    <logger name="ru.ancevt.net.tcpb254" level="trace" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SERVER_FILE"/>
    </logger>

    <!--<root level="trace" additivity="false">
        <appender-ref ref="STDOUT"/>
    </root>-->
</configuration>
